* { margin:0; padding:0;}
body { background:#f5f5f5; font-family:Arial, Helvetica, sans-serif; font-size:100%; line-height:1em; color:#757575;}

input, textarea { font-family:Arial, Helvetica, sans-serif; font-size:1em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper, block { width:100%; overflow:hidden;}
.container { width:100%;}

p { margin:0; padding:0;}

/*==================forms====================*/
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}

.form { height:40px;}
form label { text-transform:none; font-size:1.22em; color:#626262; display:block;}
form .link { margin-left:12px;}
.form input {width:222px; padding:1px 0 1px 3px; background:#fff; border-top:2px solid #7d7d7d; border-left:2px solid #7d7d7d; border-bottom:1px solid #cad2d5;  border-right:1px solid #cad2d5; font-size:1.22em; color:#757575;}
textarea { width:222px; height:147px; overflow:auto; background:#fff; border-top:2px solid #7d7d7d; border-left:2px solid #7d7d7d; border-bottom:1px solid #cad2d5;  border-right:1px solid #cad2d5; padding:1px 0 0 3px; margin-bottom:14px; font-size:1.22em; color:#757575;}


/*==================list====================*/
ul { list-style:none;}

.site-nav { width:100%; overflow:hidden; padding-bottom:7px;}
.site-nav li { float:left; background:url(images/divider.gif) no-repeat left center; padding-left:1px;}
.site-nav li.first { background:none; padding-left:5px;}


/*==================other====================*/
.img-indent { margin-bottom:25px;}

.p1 { margin-bottom:15px;}


/*==================txt, links, lines, titles====================*/
a {color:#757575;}
a:hover{text-decoration:none;}

.link { background:#535353; color:#fff; text-decoration:none; padding:1px 6px 0 6px;}
.link:hover { background:#fff; color:#535353}

.title { margin:0 0 22px 5px;}


/*==================boxes====================*/
.cont-box { width:100%; background:url(images/cont-box.jpg) no-repeat left top; height:500px;}
.cont-box .border-top { border-top:7px solid #f5f5f5; padding:27px 10px 0 0;}
.cont-box dl dd cite { font-style:normal;}
.cont-box dl { margin:33px 0 15px 0; line-height:1.55em;}
.cont-box dl dt { margin-top:10px;}
.cont-box .inner { padding:25px 25px 0 28px;}


/*header*/
#header #logo { text-align:center; padding-top:34px;}
#header #logo a { cursor:pointer;}

/*content*/
#content { background:url(images/cont-bg.jpg) no-repeat left top; padding:0 80px 48px 79px;}
#content p { line-height:1.55em;}

/*footer*/
#footer p { text-align:center; padding-top:12px; color:#999999;} 
#footer p a { color:#999999; text-decoration:none;}
#footer p a:hover { text-decoration:underline;}

/*==========================================*/
